@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;0,900;1,400&family=Open+Sans:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background: #333 url('https://i.pinimg.com/originals/cf/64/8f/cf648fa388080010404f4984b531df68.jpg') no-repeat center  center / cover;
    color: #ccc;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 3rem;
}

h1, h2 {
    font-weight: 900;
    margin:  1rem;
}

h1 {
    font-size: 6.5rem;
}

h2{
    font-size: 2rem;
    margin-bottom: 15rem;
}

/* Cursor */
.txt-type > .txt {
    border-right: 0.2rem solid #777;
}

@media (min-width: 1200px) {
    h1 {
        font-size: 6rem;
    }
}

@media (max-width: 800px) {
    .container {
        padding: 0 1rem;
    }

    h1 {
        font-size: 3rem;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}